{% extends 'base.html' %}
{% block content %}
<div class="container">

    <h4>Tambah Buku</h4><hr><br>

    <form method="POST">
        <div class="form-group row mb-3">
            <label for="judul" class="col-sm-2 col-form-label">Judul</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="judul" name="judul" required>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="penulis" class="col-sm-2 col-form-label">Penulis</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="penulis" name="penulis" required>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="penerbit" class="col-sm-2 col-form-label">Penerbit</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="penerbit" name="penerbit" required>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="tahun" class="col-sm-2 col-form-label">Tahun</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="tahun" name="tahun" required>
            </div>
        </div><br>

        <button type="submit" class="btn btn-info text-white">
            <i class="fas fa-save"></i> Simpan
        </button>
        <button type="reset" class="btn btn-warning text-white">
            <i class="fas fa-times"></i> Batal
        </button>
    </form>
</div>
{% endblock %}